--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0+cpu
fastapi==0.135.2
uvicorn==0.22.0
python-dotenv==1.2.2
requests==2.33.1
streamlit==1.55.0
transformers==4.44.2
sentence-transformers==5.2.3
qdrant-client==1.17.1
pydantic==2.12.5
